.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin: auto;
}

#logo {
  height: 90px;
  border-radius: 100px;
  margin: 5px;
}

#site-nav,
#account-links {
  margin: auto;
}

#hr-one {
  height: 8px;
}

.feature-block h3,
p,
img {
  text-align: left;
}
.feature-block h3 {
  margin-top: 10px;
}
.feature-block p {
  margin-top: 15px;
  clear: left;
}
.feature-block .feature-icon {
  width: 40px;
  margin-bottom: 0px;
  margin-right: 10px;
  float: left;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.feature-block {
  margin-left: 3%;
  margin-right: 3%;
  width: 22%;
}
.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 400px;
  width: 70%;
}

#avatar {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

#navbar-avatar {
  display: flex;
  flex-direction: column;
}

#log-out {
  text-align: center;
}

a {
  margin-left: 5px;
  margin-right: 5px;
}

.game-box-image {
  height: 200px;
}

.game-info-card,
.game-info-card p {
  text-align: center;
}

.game-info-card h6 {
  margin-top: 0px;
}

.game-info-card h2 {
  margin-bottom: 4px;
}

#settings-avatar {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#top-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#by-genre {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}
#by-title {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}

#most-played {
  display: flex;
}

.event-form-game-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.game-selection-image {
  height: 110px;
  width: auto;
  margin: auto;
}
#vote-card-container {
  height: 300px;
  width: 150px;
  border: 3px;
  border-color: #282c34;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  align-items: center;
  justify-items: center;
}

#vote-card-container > h3 {
  margin: 0px;
}

#vote-buttons {
  display: flex;
}

#guest-vote-form {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.vote-card-image {
  height: 100px;
  width: 75px;
}

#game-suggestions {
  display: flex;
  margin: auto;
}

#guest-list-select {
  display: flex;
  justify-content: center;
}

#guest-list-form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#guest-list-form > h3 {
  text-align: center;
}

#vote-header {
  text-align: center;
}

#vote-submit {
  margin: auto;
}

#vote-form-label,
#guest-list-dropdown,
#guest-list-select {
  margin-left: 10px;
  margin-right: 10px;
}

#guest-select {
  display: flex;
}

.collection-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.collection-header {
  text-align: center;
}

.collection-display {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
